html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.form-control {
    width:50%;
}
.number-of-tweets input,
.number-of-tweets span{
    display: inline-block;
    vertical-align: middle;
}