<html>

    <head>
        <title>AngularJS First Application</title>
    </head>

    <body>
        <h1>Sample Application</h1>

        <div ng-app = "DC">
            <p>Enter your Name: <input type = "text" ng-model = "name"></p>
            <p>Hello <span ng-bind = "name"></span>!</p>
        </div>

        <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="angular-gettext/dist/angular-gettext.min.js"></script>
        <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="ui-router-extras/release/ct-ui-router-extras.min.js"></script>
        <script type="text/javascript" src="angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="angular-dynamic-locale/dist/tmhDynamicLocale.min.js"></script>
        <script src = "scripts/app.js"></script>

    </body>
</html>
