<div ng-controller="TimelineController">

    <div ng-if="!isAuthenticated();" style="text-align:center;margin-top:10px;">
        <div style="magin-bottom:10px;">
            Click on the button below to login to your Twitter account,
            post which you can view your latest tweets.
        </div>
        <button
                ng-click="connectToTwitter()"
                id="connectButton"
                type="button"
                class="btn btn-primary">
            Connect Twitter
        </button>
    </div>
    <div class="row" style="text-align:center;margin-top:10px;">
        <div class="col-md-6">

            <button ng-click="signOut()"
                    id="signOut"
                    type="button"
                    class="btn btn-link"
                    ng-if="isAuthenticated();">
                Sign Out
            </button>
        </div>
        <div class=" col-md-6 number-of-tweets" >
            <span>
                Number of Tweets:
            </span>

            <input type="number" ng-model="parentObject.numberOfTweets" class="form-control" id="searchBox"
                   placeholder="10" ng-show="isAuthenticated();"
                   ng-change="refreshTimeline()"/>
        </div>
    </div>

    <div class="row"
         style="width:80%;margin:auto;margin-top:100px;text-align:center;"
          twitter-timeline
         number-of-tweets="{{parentObject.numberOfTweets}}">

        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px;text-align:center;" a-spinner></i>
        <div class="row rate-limit-error" style="text-align:center;margin-top:10px;" ng-if="isAuthenticated();">
            <div class="col-md-12">
                Rate Limit achieved for twitter api.
            </div>
        </div>

        <div class="col-md-12" ng-if="isAuthenticated();">
            <div class="row"
                 ng-repeat="t in tweets" style="text-align:center;margin-top:10px; border:grey 2px solid;">

                <div class="col-md-5">
                    <img ng-src="{{t.user.profile_image_url}}">
                </div>
                <div class="col-md-7">
                    <span>
                        <b>
                            {{t.user.name}}
                        </b>
                    </span>
                    <br>
                    <span>
                        {{t.text}}
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
